@model IEnumerable<StudentsApp.Models.Student>
@using StudentsApp.Helpers

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<p>
    @using (Html.BeginForm("Search","Student"))
    {
        @Html.Editor("SearchBox")
        <input type="submit" value="Search" />
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnrollmentDate)
        </th>
        <th>
            Actions
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @*@Html.DisplayFor(modelItem => item.FirstName)*@
            @*Just a demonstration of how to use your own implemented Helpers
            see Truncated method of Helpers class in StudentsApp.Helpers*@
            @Html.Truncate(item.LastName, 20)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.LastName)*@
            @Html.Truncate(item.LastName, 20)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.EnrollmentDate)*@
            @Html.HumanDate(item.EnrollmentDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StudentId }) |
            @Html.ActionLink("Details", "Details", new { id=item.StudentId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.StudentId })
        </td>
    </tr>
}

</table>
